
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - OnePage Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="../static/admin/assets/img/favicon.png" rel="icon">
  <link href="../static/admin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/admin/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/admin/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/admin/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../static/admin/assets/css/main.css" rel="stylesheet">


</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/adminhome" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../static/admin/assets/img/logo1.png" class="logo-right" alt=""  width= 150px; height= auto;>
{#        <h1 class="sitename">BookHive</h1>#}
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>

          <li><a href="/manage-users">User Managment</a></li>
          <li><a href="{% url 'admin_book_management' %}">Book Management</a></li>
          <li><a href="{% url 'manage_categories' %}">Categories</a></li>

          <li><a href="{% url 'admin_view_reports' %}">Reports</a></li>
            <li><a href="/logout" class="d-flex align-items-center"><i class="bi bi-box-arrow-right custom-icon"></i> Logout</a></li>

        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>


    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="../static/admin/assets/img/hero-bg-abstract.jpg" alt="" data-aos="fade-in" class="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-out">
          <div class="col-xl-7 col-lg-9 text-center">
            <h1>BookHive Admin Dashboard</h1>
<p>Manage and oversee all aspects of your book listings, user accounts, and system settings efficiently.</p>

          </div>
        </div>


        <div class="row gy-4 mt-5">
          <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"><a href="">{{ tu }}</a></h4>
              <p class="description">Number of User</p>
            </div>
          </div><!--End Icon Box -->

          <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="">{{ tu1 }}</a></h4>
              <p class="description">Number of Books</p>
            </div>
          </div><!--End Icon Box -->

          <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4 class="title"><a href="">{{ tu2 }}</a></h4>
              <p class="description">Active Books</p>
            </div>
          </div><!--End Icon Box -->

          <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="">{{ tu3 }}</a></h4>
              <p class="description">Total orders</p>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
      {% block body %}
      {% endblock %}
      </div><!-- End Section Title -->


    </section><!-- /About Section -->

  </main>

  <footer id="footer" class="footer light-background">



    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">OnePage</strong> <span>All Rights Reserved</span></p>
      <div class="credits">

        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/admin/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/admin/assets/vendor/aos/aos.js"></script>
  <script src="../static/admin/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/admin/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/admin/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/admin/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../static/admin/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="../static/admin/assets/js/main.js"></script>

</body>

</html>